# Telegram Bot Configuration
BOT_TOKEN=8933785930:AAHp5rr4xBu2i6hHVaNg7HVMad79RoLeuv4

# ID администраторов через запятую (укажите ваш Telegram ID, узнать можно в @userinfobot)
ADMIN_IDS=123456789,987654321

# База данных:
# Для SQLite (по умолчанию, файлы сохраняются локально):
DB_URL=sqlite+aiosqlite:///data/bot.db
# Для PostgreSQL (раскомментируйте при использовании Docker или внешнего Postgres):
# DB_URL=postgresql+asyncpg://postgres:postgres@db:5432/mwaves_shop

# Сервисы и ссылки
SUPPORT_USERNAME=@rayner_supp
REVIEWS_CHANNEL=@mwaves_reviews
FAQ_URL=https://telegra.ph/FAQ-Mwaves-Shop

# Платежные системы (Опционально)
CRYPTO_BOT_TOKEN=
TELEGRAM_PAYMENT_PROVIDER_TOKEN=
